<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <menuitem id="menu_dental_root" name="Dental Clinic" web_icon="dental_management,static/description/icon.png" sequence="10"/>

    <menuitem id="menu_dental_dashboard" name="Dashboard" parent="menu_dental_root" action="action_dental_dashboard_client" sequence="1"/>

    <menuitem id="menu_dental_appointment" name="Appointments" parent="menu_dental_root" action="action_dental_appointment" sequence="10"/>
    
    <menuitem id="menu_dental_patient" name="Patients" parent="menu_dental_root" action="action_dental_patient" sequence="20"/>
    
    <menuitem id="menu_dental_doctor" name="Doctors" parent="menu_dental_root" action="action_dental_doctor" sequence="30"/>
    
    <menuitem id="menu_dental_configuration" name="Configuration" parent="menu_dental_root" sequence="100"/>
    <menuitem id="menu_dental_service_type" name="Service Types" parent="menu_dental_configuration" action="action_dental_service_type" sequence="5"/>
    <menuitem id="menu_dental_service" name="Services" parent="menu_dental_configuration" action="action_dental_service" sequence="10"/>
</odoo>
